
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(3, 41, 75);
    background: url(/img/bg-1.jpg);
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    /* text-align: center; */
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: #70a870;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #549754;
}
.clock #ampm{
    bottom: 1px;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;

}

